@CHARSET "UTF-8";

body {
font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
font-size: 12px;
}

input {
    width: 90px;
    padding-left:2px;
    margin: 4px;
}
      
button {
    margin: 4px 5px;
    width: 80px;
    -webkit-transition:all 0.1s linear;
    float:left;
}

canvas{   
    border: 1px solid #FFFFFF;
    border-color:black;
    position:absolute;
}

button:hover {
	background-color: #b9d185;
    -webkit-transform:  scale(1.1);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, 0.5); 
}

.item_line {
height:33px;
background-color:beige;
}
